` <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>

      <style>
        body {
    box-sizing: border-box;
    margin: 0;
    font-size: 0.9rem;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px 15px;
  }
  
  .container p {
    margin: 0;
  }
  
  .top {
    display: flex;
    min-width: 100%;
    min-height: 40vh;
    
  }
  
  .top-right {
    min-width: 50%;
    
    padding: 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around; 
    flex-grow: 1;
    direction: rtl;
  }
  
  .top-left {
    min-width: 30%;
   
    padding: 10px 10px;
  }
  
  .table {
    min-width: 100%;
    min-height: 20vh;
   
  }
  
  .pricing {
    height: 20vh;
    
   
    align-self: end;
    
  }
  
  .bankingDetails {
    min-width: 50%;
  
  
    min-height: 20vh;
    align-self: start;
  }
  
  .paidFigure {
    border: 1px solid black;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  
    align-items: center;
  }
  
  .paidFigure .status {
    margin-top: auto;
    min-height: 2rem;
    background-color: blueviolet;
    min-width: 100%;
    text-align: center;
    line-height: 2rem;
  }
  
  .invNumber {
    height: fit-content;
    padding: 5px 5px;
    background-color: green;
  }
  
  table,
  th, tr,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2rem;
  }
  
  
  
  
  table {
    min-width: 100%;
  } 
  
  td {
      text-align: center;
  }
  
  
  .subTotal{
      text-align:start;
      
      border-bottom: 1px solid black;
      width: 17%;
      
      
      
  }
  
  .table {
      padding: 10px 10px;
      display:flex;
      flex-direction: column;
      gap: 10px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      
  
  }
  
  .table div:nth-child(2){
      align-self: flex-end;
  
      
      
  }
  
  .amount {
      display: flex;
      gap: 20px;
  
  }
  
  .bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
  
  }
  
  .container .bottom {
      align-self: center;
  }
  
  .header{
      text-align: center;
      margin-bottom: 2px;
  }
      </style>
      
 
  </head>
  <body>
  
      <h1 class="header">Invoice Statment</h1>
      <div class="container">
          <div class="top">
            <div class="top-left">
                {{#with generalData}}
              <p>{{defaultValue practice_name "" }}</p>
              <p>Practice number: {{defaultValue practice_num  ""}}</p>
              <p> Billing Address: {{ defaultValue billing_address  ""}}</p>
              <div class="paidFigure">
                <p> Amount due</p>
                <p> {{ defaultValue amount_due  ""}}</p>
                {{#if (compareAmountDue amount_due 0) }}
                <p  class= "status"> Paid </p>

                


                {{/if}}
              </div>
            </div>
            <div class="top-right">
              <div class="invNumber">Inv number: {{
                defaultValue  invoice_number  ""
              }}</div>
              <div class="dates">
                <p> Date: {{formatDate invoice_start_date "MMMM dd, yyyy"}}</p>
                <p>Due Date: {{ formatDate invoice_end_date  "MMMM dd, yyyy"}}</p> 
              </div>
              <div class="bill-to">
               
                <p> :Bill to</p>
                <p> {{ defaultValue patient_first_name  ""}} {{ defaultValue 
    patient_last_name  ""
  }}</p>
                <p>email: {{ defaultValue patient_email  ""}}</p>
                <p> contact: {{ defaultValue patient_contact_number  ""}}</p>
              </div>
              {{/with}}
              <div class="medicalAid-details">
                <p>Medical Aid</p>
                 {{#if medicalAidData}}
                 
                <p> {{defaultValue medicalAidData.medaid_name  ""}} - {{defaultValue
    medicalAidData.medaid_scheme  ""}}
  </p>
                <p> Membership #: {{defaultValue medicalAidData.medaid_number  ""}}</p>
                <p> Patient: {{defaultValue generalData.patient_first_name  ""}} {{defaultValue 
    generalData.patient_last_name  ""}}
  </p>
                <p>ID: {{defaultValue medicalAidData.gov_id  ""}}</p>
                {{#if medicalAidData.mainmem_name  }}
                <p>Patient is a dependant</p>
                <p>{{ defaultValue medicalAidData.mainmem_name ""}}</p>
                <p>{{defaultValue  medicalAidData.mainmem_surname  ""}}</p>
                <p>{{defaultValue  medicalAidData.mainmem_gov_id  ""}}</p>
                {{else}}
                <p>Patient is the main member</p>
                {{/if}}
                
               {{else}}
               <p>No Medical Aid Data to show</p>
               {{/if}} 


                
              </div>
            </div>
          </div>
          <div  class="table">
           <div>
              
              {{#with generalData}}
              <p>{{formatDate appointment_date "eee dd MMM yyyy"}}</p>
              <p> {{defaultValue invoice_title ""}} </p>
              <p>{{defaultValue  patient_first_name  ""}} {{defaultValue  
    patient_last_name ""
  }}. <span id= tableHeaderTime></span>  </p>
              <p>Treated by: {{defaultValue  user_first_name  ""}} {{ defaultValue
    user_last_name  ""
  }} ({{defaultValue  council_reg_num  ""}}) at {{defaultValue
    practice_address  ""
  }}</p>
  {{/with}}
           </div>
           <table >
           <thead>
            {{#if icd10Data}} 
            <tr>
                <th>Patient Name</th>
                <th>Date</th>
                <th>ICD10-Code</th>
                <th>Procedural Code</th>
                <th>Price</th>
            </tr>

            {{else}}
            <tr>
                <th>
                    Patient Name
                </th>
                <th>
                    Date
                </th>
                <th>Price</th>
            </tr>
            {{/if}}
           </thead>
           <tbody>

            {{#if icd10Data}}
            
            {{#each icd10Data}}

            <tr>
                <td>{{ defaultValue  ../generalData.patient_first_name  ""}} {{ defaultValue  ../generalData.patient_first_name ""}}</td>
                <td>{{formatDate ../generalData.appointment_date "dd-MM-yyyy"}}</td>
                <td>{{ defaultValue  icd_10_code  ""}}</td>
                <td>{{  defaultValue procedural_codes  ""}}</td>
                <td>R{{ defaultValue  price  ""}}</td>
            </tr>
            {{/each}}

            {{else}}
            
            <tr>
                <td>{{defaultValue  generalData.patient_first_name  ""}} {{defaultValue  generalData.patient_first_name  ""}}</td>
                <td>{{formatDate generalData.appointment_date "dd-MM-yyyy"}}</td>
                <td>{{defaultValue  generalData.total_amount  ""}}</td>
            </tr>

            {{/if}}
            
         </tbody>
          </table>
          {{#with generalData}}
            <div class="subTotal" >Sub-total: R{{ defaultValue 
              total_amount  ""
            }}</div>
          </div>
  
  <div  class="bottom" >
          <div class="bankingDetails">
              <p>Banking Details</p>
              <p>{{defaultValue  bank_details  ""}}</p>
          </div>
    
          <div class="pricing">
              
              <p class="amount">Totals</p> 
              <div class="amount">
              <p class="amount">Invoice Total: R{{ defaultValue 
                total_amount  ""
              }} </p>  
          </div>
          <div class="amount">
              <p class="amount">Amount paid: R{{ defaultValue 
                amount_paid  ""
              }}  </p>
          </div class="amount">
          <p class="amount" >Discount: R{{defaultValue discount ""}}</p>
          <div>

          </div>
          <div class="amount"> 
              <p class="amount" >Amount due: R{{ defaultValue 
                amount_due  ""
              }} 	 </p> 
              </div>
              {{/with}}
          </div>
      </div>
          
        </div>

        
  </body>
  </html>